@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100% ;
    padding:0 2%;
    box-sizing: border-box;
}

header{
    padding: 2px 0;
    background-color: black;
}

.logo{
    display: flex;
    justify-content: left;

}

.menu{
    text-align: right;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 25px;
}


/* main section{
    width: 100%;
    height: 200px;
} */

.space-one{
    background-image: url(background.png);
    background-repeat: no-repeat;
    margin: 0;
    width: 100%; 
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 125px;
}

.space-two{
    background-color: black;
    width: 100%;
    height: 500px;
}

h4 {
    font: 400 30px 'New Rocker';
    color: black;
    margin: 350px 50px 0;
    text-align: center;
    align-self: self-start;
}

h5 {
    font: 400 25px 'New Rocker';
    margin-left: 200px;
    color: white;
}

h6 {
    font: 400 30px 'New Rocker';
    color: black;
    align-self: end;
    margin-right: 50px;
}